div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

img {
  width: 200px;
  flex-grow: 1;
  margin: 4px;
}

:host > div > .cameras img {
  max-width: 300px;
}
