<!DOCTYPE html>
{% load compress static %}
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Escaperoom</title>
		<link rel="icon" href="{% static "escaperoom.svg" %}" type="xml/svg" sizes="any">

		{% include './fonts.html' %}

		{% compress css %}
		<link rel="stylesheet" type="text/css" href="{% static 'normalize.css' %}">
		<link rel="stylesheet" type="text/x-scss" href="{% static 'main/base.scss' %}">
		{% endcompress %}

		<script src="{% static 'vue.global.js' %}"></script>

		{% block head %}{% endblock %}

	</head>
	<body>
		<header>
			<nav>
				<a class="tab">
				</a>
			</nav>
    </header>

		<section>
			<nav>
				<a class="tab">
				</a>
			</nav>

			<article>
				{% block content %}{% endblock %}
			</article>
		</section>
	</body>
</html>
