*.db
.env

dist/
node_modules/
openapitools.json
/escaperoom/frontend/client/*
!/escaperoom/frontend/client/.openapi-generator-ignore
!/escaperoom/frontend/client/tsconfig.json
__pycache__/
.openapi-generator
