[Desktop Entry]
Name=Escaperoom
GenericName=Escaperoom runner
Comment=Run your escaperoom
Exec=escaperoom
TryExec=escaperoom
Icon=escaperoom
Terminal=true
Type=Application
