@font-face{
	font-family: 'time-dial-font';
	src: url('/ressources/digital_counter_7.ttf');
}

:host > div {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

:host > div > span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time {
  font-family: 'time-dial-font';
  font-size: xxx-large;
}


.controls {
  display: flex;
  flex-flow: column;
  position: absolute;
  right: -32px;
}

.controls svg {
  fill: transparent;
  cursor: pointer;
  width: 18px;
  border-radius: 50px;
}

div:hover .controls svg {
  fill: #aaa;
}

div:hover .controls svg:hover {
  fill: var(--active-color);
}

div:hover .controls svg:active {
  background: var(--active-color);
  fill: white;
}

@media only screen and (max-width: 800px) {

  .time {
    font-size: 64px;
  }

  .controls svg {
    fill: #aaa;
  }

  .controls svg {
    width: 26px;
  }

}

@media only screen and (max-width: 500px) {

  .time {
    font-size: 16vw;
  }

  .controls {
    right: -11vw;
  }

  .controls svg {
    width: 8vw;
  }

}
