<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Escape room</title>
		<link rel="stylesheet" type="text/css" href="{{game_name}}/monitor.css">
		<link rel="stylesheet" type="text/css" href="{{game_name}}/page.css">
		<link rel="stylesheet" type="text/css" href="{{game_name}}/scenario.css">
		<script src='{{game_name}}/devices.js' type='module'></script>
		<script src='{{game_name}}/puzzles.js' type='module'></script>
		<script src='{{game_name}}/cameras.js' type='module'></script>
	</head>
	<body>
		<puzzles-box class='box'>
			<puzzles-graph class='dark metro' src='/{{game_name}}/puzzles'>
				<div class='empty'>no scenario</div>
				<div class='loading'></div>
				<div class='error'></div>
			</puzzles-graph>
			<puzzle-info class='inspector scroll-y' src='/{{game_name}}/puzzle'>
				<div class='empty'>Please select a node</div>
				<div class='loading'></div>
				<div class='error'>ERROR</div>
				<div class="selection hidden">
					<div class="page padding">
						<p class="state mini"></p>
						<h1></h1>
						<p class="description"></p>
						<h2>Conditions</h2>
						<div class="conditions rect list select">
							<template id="condition-template">
								<details>
									<summary></summary>
									<p></p>
								</details>
							</template>
						</div>
						<h2>Actions</h2>
						<div class="actions">
							<button id="reload-node">Actualiser le nœud</button>
							<button class="dangerous" id="activation">Forcer l'activation</button>
						</div>
					</div>
				</div>
			</puzzle-info>
		</puzzles-box>
		<cameras-box class='box dark' src='/{{game_name}}/cameras'>
			<template>
				<link rel='stylesheet' type='text/css'
					  href='{{game_name}}/cameras.css'>
				<div class='screen' name='cameras_list'>
					<cameras-list class='panel scroll-x'>
						<template>
						<link rel='stylesheet' type='text/css'
							  href='{{game_name}}/cameras.css'>
							<camera-video autoplay src='/{{game_name}}/camera'>
								x
							</camera-video>
						</template>
					</cameras-list>
					<video autoplay muted id='bigscreen'></video>
				</div>
				<div class='screen' name='loading'>Loading</div>
				<div class='screen' name='empty'>No camera</div>
				<div class='screen' name='error'>Error</div>
			</template>
		</cameras-box>
		<devices-box class='box' src='/{{game_name}}/devices'>
			<template>
				<link rel='stylesheet' type='text/css'
					  href='{{game_name}}/devices.css'>
				<div class='screen' name='devices_list'>
					<devices-list>
						<template> 
							<link rel='stylesheet' type='text/css'
								  href='{{game_name}}/devices.css'>
							<div class='selectable'>
								<slot name="name">name</slot>
							</div>
						</template>
					</devices-list>
				</div>
				<div class='screen' name='empty'>No device</div>
				<div class='screen' name='loading'>Loading</div>
				<div class='screen' name='error'>Error</div>
				<device-info class='scroll-y' src="/{{game_name}}/device">
					<template>
						<div class='screen' name='device_info'>
							<p>name: <slot name="name"></slot></p>
							<p>msg: <slot name="msg"></slot></p>
							<p>addr: <slot name="addr"></slot></p>
							<p>Attibutes:
							<attrs-list>
								<template>
									"<slot name="name"></slot>"
									(<slot name="type"></slot>):
									<slot name="value"></slot>
								</template>
							</attrs-list>
							</p>
						</div>
						<div class='screen' name='empty'>Select a device</div>
						<div class='screen' name='loading'>Loading</div>
						<div class='screen' name='error'>Error</div>
					</template>
				</device-info>
			</template>
		</devices-box>
		<controls-box class='box' src='/{{game_name}}/cameras'>
		</controls-box>
	</body>
</html>
