action-btn {
  display: block;
  width: 24px;
  height: 24px;
}

action-btn .screen {
  display: flex;
}

action-btn .screen svg {
  fill: var(--light-gray);
}

action-btn .screen:hover svg {
  fill: var(--active-color);
}

action-btn .screen.dangerous:hover svg {
  fill: var(--red);
}

action-btn .screen:not(.inactive) {
  cursor: pointer;
}

action-btn .screen.inactive {
  pointer-events: none;
}

action-btn .screen.green svg {
  pointer-events: none;
  fill: #79d70f;
}
