:root {
  --header-color: #1b262c;
  --active-color: #0779e4;
  --light-gray: #ddd;
  --gray: #888;
  --red: #d32626;
}

body {
  font-family: TeXGyreHeros, Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background: white;
}

.tab {
  display: block;
  width: 100%;
  margin: 0;
  margin-left: 160px;
  padding: 16px 16px;
}

.tab.columns {
  columns: 2;
}

@keyframes collision {
  0% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(-4px);
  }
}

.screen[hidden] {
  display: none !important;
}

@media only screen and (max-width: 800px) {

  .tab {
    margin-left: 52px;
  }

}

@media only screen and (max-width: 690px) {
  
  .tab.columns {
    columns: 1;
  }

}

@media only screen and (max-width: 500px) {

  .tab {
    margin-left: 0;
  }

}
