@import 'monitor.css';
@import 'page.css';

devices-list .item {
	height: 25px;
	padding: 8px;
}

devices-list .item img {
	float: left;
	width: 50px;
	height: 100%;
	max-width: 40px;
}

devices-list .item span[slot='desc'] {
	margin: 16px;
	vertical-align: middle;
}

device-info {
	display: flex;
	flex-flow: row;
}

.screen[name='info']:not([hidden]) {
	display: block;
	padding: 16px;
}

#device-name {
	float: left;
}

#device-state {
	font-size: 12px;
	float: right;
	color: #a0a0a0;
}

#device-msg {
	clear: both;
}

#device-description {
    clear: both;
}

#device-controls {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 16px 0;
}

.device-control {
    flex: 1;
    margin: 0 5px;
    min-width: 100px;
}

@media only screen and (max-width: 800px) {

  .screen {
    flex-flow: column;
  }

}
