@import 'monitor.css';
@import 'page.css';

game-issues {
  display: block;
  text-align: center;
}

.screen[name='game'] {
	position: absolute;
	z-index: 1;
	transition: transform 0.3s 0s;
	transform: translateX(0);
}

.screen[name='game'][hidden] {
	display: flex;
	position: absolute;
	transition: transform 0.3s 0s;
	transform: translateX(-100%);
}

.screen[name='puzzles'][hidden] {
	display: initial;
}

#game-name {
  font-size: 38pt;
  font-weight: bold;
  text-align: center;
  font-variant: small-caps;
  margin: 10px;
}

#game-chronometer {
	display: block;
	font-size: 32pt;
	text-align: center;
	margin: 10px;
}

#game-start-end {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	margin: 10px 10px;
	text-align: center;
}

game-menu {
	padding: 16px;
}

#game-options {
	flex: 1;
	margin: 10px 0px;
}

.game-option {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	margin: 12px 0px;
}

.game-option.big {
	flex-flow: column;
}

.game-option input[type=text], input[type=date], select {
  width: 130px;
}

.game-option.big textarea {
  width: 100%;
  height: 140px;
  resize: none;
  padding: 10px;
}

.game-option input[type=number] {
  width: 54px;
}

.game-option input[type=checkbox] {
	vertical-align: middle;
}

#game-option-reset {
	width: 100%;
}

#game-controls {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	margin: 16px 0;
}

.game-control {
	width: 100%;
	max-width: 135px;
}

#menu-button {
	position: absolute;
	margin: 15px;
}

@media only screen and (max-width: 800px) {

  .screen[name='game'] {
    position: relative;
    z-index: 0;
    transform: none;
    flex-flow: column;
  }

  .screen[name='game'][hidden] {
    display: flex;
    flex-flow: column;
    position: absolute;
    transition: transform 0.3s 0s;
    transform: none;
  }

  game-menu {
    padding: 6px;
  }

  .game-option {
    display: flex;
    flex-flow: column;
  }

  .game-option label {
    display: inline-block;
    margin: 12px;
  }

  .game-option input:not([type=checkbox]), select  {
    width: 100%;
  }

  .game-option input[type=checkbox]{
    transform: scale(1.2);
  }

}
