@import 'monitor.css';
@import 'page.css';

.screen {
	position: relative;
	display: flex;
}

.panel {
	position: absolute;
	width: 100%;
}

.panel {
	transition: transform 0.3s 0s;
	transform: translateY(-100%);
}

.panel[visible='true'] {
	transition: transform 0.3s 0s;
	transform: translateY(0);
}

cameras-list {
	display: flex;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.2);
	white-space: nowrap;
	height: 100px;
}

cameras-list div.item {
	display: contents;
}

camera-video {
  display: block;
  position: relative;
	margin: 4px 10px;
	cursor: pointer;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  height: 92px;
}

camera-video:hover {
  box-shadow: 0px 0px 6px #46b3e6;
}

camera-video video {
  height: 100%;
}

camera-video legend {
  position: relative;
  background: black;
  color: white;
  opacity: 0.6;
  height: 14px;
  top: -22px;
  z-index: 4;
  font-weight: normal;
  font-size: x-small;
  padding: 2px 8px;
}

#bigscreen {
	flex: 1;
}

#buzzer {
	position: absolute;
	bottom: 1em;
	right: 1em;
}

@media only screen and (max-width: 800px) {

  .panel {
    position: relative;
  }

  .panel {
    transform: none;
  }

  .panel[visible='true'] {
    transform: none;
  }

  cameras-list {
    flex-flow: column;
    height: auto;
    padding: 5px;
  }

  camera-video video {
    margin: 5px;
  }

  video.bigscreen {
    display: none;
  }

  .screen[name=loading] {
    display: none;
  }

  .screen[name=empty] {
    display: none;
  }

  .screen[name=error] {
    display: none;
  }

}
