@import 'monitor.css';
@import 'page.css';

devices-list .item {
	height: 25px;
	padding: 8px;
}

devices-list .item img {
	float: left;
	width: 50px;
	height: 100%;
	max-width: 40px;
}

devices-list .item span[slot='name'] {
	margin: 16px;
	vertical-align: middle;
}
