body > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 1;
  background: var(--header-color);
  padding: 3px 6px;
  color: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

body > header > * {
  margin: 2px 6px;
}

body > header img {
  height: 32px;
}
