:root {
  --header-color: #1b262c;
  --light-color: #eee;
  --active-color: #0779e4;
}

body {
  font-family: TeXGyreHeros, Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background: var(--light-color);
}

.tabcontent {
  margin: 0;
  margin-left: 160px;
  padding: 16px 16px;
  columns: 2;
}

@media only screen and (max-width: 800px) {

  .tabcontent {
    margin-left: 52px;
  }

}

@media only screen and (max-width: 690px) {
  
  .tabcontent {
    column-count: 1;
  }

}

@media only screen and (max-width: 500px) {

  .tabcontent {
    margin-left: 0;
  }

}
