<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<title>Escape room</title>
		<link rel='stylesheet' type='text/css' href='ressources/monitor.css'>
		<link rel='stylesheet' type='text/css' href='ressources/page.css'>
		<script src='ressources/game.js' type='module'></script>
		<script src='ressources/puzzles.js' type='module'></script>
		<script src='ressources/cameras.js' type='module'></script>
		<script src='ressources/devices.js' type='module'></script>
		<script src='ressources/clues.js' type='module'></script>
		<script src='ressources/chronometer.js' type='module'></script>
	</head>
	<body>
		<game-box class='box' src='/game'>
			<template>
				<link rel='stylesheet' type='text/css' href='ressources/game.css'>
				<div class='screen' name='game'>
					<div class='section scroll-y'>
						<p id='game-name'><slot name='name'></slot></p>
						<chronometer-dial class='time-dial' id='game-chronometer' src='/chronometer'>
						</chronometer-dial>
						<div id='game-start-end'>
							<div id='game-start'>
								<p id='game-start-time'>start: <slot class='time-dial' name='start_time'></p>
							</div>
							<div id='game-end'>
								<p id='game-end-time'>end: <slot class='time-dial' name='end_time'></p>
							</div>
						</div>
						<game-issues>
							liste des problèmes
						</game-issues>
					</div>
					<game-menu class='section scroll-y' src='/game'>
						<fieldset id='game-options'>
							<legend>Options de la partie</legend>
							<div class='game-option'>
								<label for='game-option-status'>Type de partie:</label>
								<select id='game-option-status'>
									<option value='official'>official</option>
									<option value='test'>test</option>
									<option value='debug'>debug</option>
								</select>
							</div>
							<div class='game-option'>
								<label for='game-option-number-player'>Nombre de joueur:</label>
								<input type='number' id='game-option-number-player' value='01' min='0'>
							</div>
							<div class='game-option'>
								<label for='game-option-children'>Mode enfant:</label>
								<input type='checkbox' id='game-option-children'>
							</div>
							<div class='game-option'>
								<label for='game-option-timeout-enabled'>Duration:</label>
								<div id='game-option-timeout'>
									<input type='checkbox' id='game-option-timeout-enabled' name='timeout-enabled'>
									<input type='number' id='game-option-timeout-h' name='timeout-h' value='01' min='0'>
									<label for='game-option-timeout-h'>h</label>
									<input type='number' id='game-option-timeout-m' name='timeout-m' value='00' min='0' max='59'>
									<label for='game-option-timeout-m'>m</label>
								</div>
							</div>
							<div class='game-option'>
								<input type='reset' id='game-option-reset' value='Options par défaut'>
							</div>
						</fieldset>
						<div id='game-controls'>
							<button class='game-control' id='stop-game' dangerous>Arrêter la partie</button>
							<input class='game-control' type='submit' id='new-game' value='Nouvelle partie'>
							<button class='game-control' id='back-to-game'>Continuer</button>
						</div>
					</game-menu>
				</div>
				<puzzles-box class='screen' name='puzzles' src='/conditions'>
					<template>
						<link rel='stylesheet' type='text/css' href='ressources/puzzles.css'>
						<div class='screen' name='graph'>
							<div class='section dark' name='graph'>
								<div class='selectable' id='puzzles-menu'>
									<chronometer-dial class='time-dial' id='puzzles-chronometer' src='/chronometer'>
									</chronometer-dial>
								</div>
								<puzzles-graph class='scroll-y'> 
									<div id='graph-offset'></div>
								</puzzles-graph>
							</div>
							<puzzle-info class='section scroll-y' src='/condition'>
								<template>
									<link rel='stylesheet' type='text/css' href='ressources/puzzles.css'>
									<div class='screen' name='info'>
										<h1 id='puzzle-name'><slot name='desc'></slot></h1>
										<div id='puzzle-state'><slot name='state'></slot></div>
										<p id='puzzle-description'><slot name='description'></slot></p>
										<h2>Conditions</h2>
										<conditions-list>
											<template class='item selectable'>
												<condition-item src='/condition'>
													<template>
														<link rel='stylesheet' type='text/css' href='ressources/puzzles.css'>
														<div>
															<slot name='desc'></slot>
														</div>
													</template>
												</condition-item>
											</template>
										</conditions-list>
										<h2>Actions</h2>
										<actions-list>
											<template class='item selectable'>
												<action-item src='/action'>
													<template>
														<link rel='stylesheet' type='text/css' href='ressources/puzzles.css'>
														<div>
															<slot name='desc'></slot>
														</div>
													</template>
												</action-item>
											</template>
										</actions-list>
										<p>Un puzzle s'active lorsqu'un de ces parents est complété.</p>
										<p>Un puzzle est complété lorsque, actif, toutes ses conditions sont satisfaites.</p>
										<div id='puzzle-controls'>
											<button class='puzzle-control' id='puzzle-activate' dangerous>Activer</button>
											<button class='puzzle-control' id='puzzle-complete' dangerous>Completer</button>
											<button class='puzzle-control' id='puzzle-restore' dangerous>Restaurer</button>
										</div>
									</div>
									<div class='screen' name='loading'>Loading</div>
									<div class='screen' name='empty'>
										<span class='screen-text'>Select a puzzle</span>
									</div>
									<div class='screen' name='error'>Error</div>
								</template>
							</puzzle-info>
						</div>
						<div class='screen' name='loading'>Loading</div>
						<div class='screen' name='empty'>No puzzle</div>
					</template>
				</puzzles-box>
				<div class='screen' name='loading'>Loading</div>
				<div class='screen' name='error'>Error</div>
			</template>
		</game-box>
		<cameras-box class='box' src='/cameras'>
			<template>
				<link rel='stylesheet' type='text/css' href='ressources/cameras.css'>
				<div class='screen dark' name='main'>
					<cameras-list class='panel scroll-x'>
						<template class='item'>
							<link rel='stylesheet' type='text/css' href='ressources/cameras.css'>
							<camera-video src='/camera'>
								no video
							</camera-video>
						</template>
					</cameras-list>
					<video id='bigscreen'></video>
				</div>
				<div class='screen dark' name='loading'>Loading</div>
				<div class='screen dark' name='empty'>
					<span class='screen-text'>No camera</span>
				</div>
				<div class='screen dark' name='error'>Error</div>
			</template>
		</cameras-box>
		<devices-box class='box' src='/devices'>
			<template>
				<link rel='stylesheet' type='text/css' href='ressources/devices.css'>
				<div class='screen' name='main'>
					<devices-list class='section list dark scroll-y'>
						<template class='item selectable'> 
							<link rel='stylesheet' type='text/css' href='ressources/devices.css'>
							<slot name='type'></slot>
							<slot name='desc'></slot>
						</template>
					</devices-list>
					<device-info class='section scroll-y' src="/device">
						<template>
							<link rel='stylesheet' type='text/css' href='ressources/devices.css'>
							<div class='screen' name='info'>
								<h1 id='device-name'><slot name='desc'></slot></h1>
								<div id='device-state'><slot name='state'></slot></div>
								<div id='device-msg'><slot name='msg'></slot></div>
								<p id='device-description'><slot name='name'></slot></p>
								<h2>Attributes</h2>
								<device-attributes>
									<template class='item'>
										<link rel='stylesheet' type='text/css' href='ressources/devices.css'>
										[<slot name='attr_id'></slot>] 
										<slot name='name'></slot>
										(<slot name='type'></slot>):
										<input type='text'></input>
										<slot name='value'></slot>
									</template>
								</device-attributes>
								<h2>Actions</h2>
							</div>
							<div class='screen' name='loading'>Loading</div>
							<div class='screen' name='empty'>
								<span class='screen-text'>Select a device</span>
							</div>
							<div class='screen' name='error'>Error</div>
						</template>
					</device-info>
				</div>
				<div class='screen' name='empty'>No device</div>
				<div class='screen' name='loading'>Loading</div>
				<div class='screen' name='error'>Error</div>
			</template>
		</devices-box>
		<clues-box class='box' src='/clues'>
			<textarea value='clue'></textarea>
			<button>Envoyer</button>
			<ul>
				<li>Ca ne casse pas trois pattes à un canard</li>
				<li>Trempé comme une soupe</li>
				<li>S'en aller en eau de boudin</li>
				<li>Mener une vie de bâton de chaise</li>
				<li>Mettre la charrue avant (devant) les boeufs</li>
				<li>Faire contre mauvaise fortune bon coeur</li>
				<li>Marquer d'une pierre blanche</li>
				<li>Avoir la tête près du bonnet</li>
				<li>Mettre du beurre dans les épinards</li>
				<li>Couper les cheveux en quatre</li>
				<li>Tant va la cruche à l'eau qu'à la fin elle se casse</li>
				<li>Se faire prendre ou passer pour un pigeon / Se faire pigeonner</li>
				<li>Ce n'est pas à un vieux singe qu'on apprend à faire des grimaces</li>
			</ul>
		</clues-box>
	</body>
</html>
