tabs-nav {
  position: fixed;
  left: 0;
  bottom: 0px;
  top: 42px;
  display: flex;
  flex-flow: column;
  background: #dbdbdb;
  overflow-x: visible;
  padding-top: 20px;
  border-right: 1px solid #bbb;
  width: 160px;
}

tabs-nav[loading] {
  padding-top: 0;
  justify-content: center;
}

tabs-nav a {
  padding: 10px 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #888;
  border: 1px solid transparent;
}

tabs-nav a svg {
  fill: #aaa;
  margin: 0px 16px 0px 0px;
  width: 21px;
}

tabs-nav a p {
  margin: 0px;
}

tabs-nav a:hover {
  color: var(--active-color);
}

tabs-nav a:hover svg {
  fill: var(--active-color);
}

tabs-nav a[selected] {
  background: var(--active-color);
  border-color: rgba(0, 0, 0, 0.1);
  color: white;
}

tabs-nav a[selected]:hover {
  color: white;
}

tabs-nav a[selected] svg {
  fill: white;
}

tabs-nav a[selected]::after {
  content: "";
  border: 12px solid transparent;
  border-right-color: var(--light-color);
  position: absolute;
  right: 0px;
  transform: translateX(1px);
}

@media only screen and (max-width: 800px) {

  tabs-nav {
    width: 52px;
  }

  tabs-nav[loading] loading-animation {
    transform: rotateZ(90deg);
  }

  tabs-nav a {
    padding: 16px;
    justify-content: center;
  }

  tabs-nav a p {
    display: none;
  }

  tabs-nav a svg {
    margin: 0px;
    width: 20px;
    max-width: 24px;
  }

}


@media only screen and (max-width: 500px) {
  
  tabs-nav {
    width: auto;
    position: relative;
    top: 0px;
    bottom: 0px;
    padding: 0px;
    border-right: none;
    border-bottom: 1px solid #bbb;
    min-height: 52px;
  }

  tabs-nav .content {
    flex: 1;
    display: flex;
    flex-flow: row;
  }

  tabs-nav .content > * {
    flex: 1;
  }

  tabs-nav[loading] loading-animation {
    transform: rotateZ(0deg);
  }

  tabs-nav a {
  }
  
  tabs-nav a svg {
    width: 100%; 
    max-width: 20px;
    min-width: 10px;
  }

  tabs-nav a[selected]::after {
    right: auto;
    bottom: 0px;
    transform: translateY(1px);
    border-right-color: transparent;
    border-bottom-color: var(--light-color);
  }

}
