nav {
  height: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  display: flex;
  flex-flow: column;
  background: #dbdbdb;
  overflow-x: visible;
  padding-top: 20px;
  border-right: 1px solid #bbb;
  width: 160px;
}

nav a {
  padding: 10px 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #888;
  border: 1px solid transparent;
}

nav a svg {
  fill: #aaa;
  margin: 0px 16px 0px 0px;
  width: 21px;
}

nav a p {
  margin: 0px;
}

nav a:hover {
  color: var(--active-color);
}

nav a:hover svg {
  fill: var(--active-color);
}

nav a[selected] {
  background: var(--active-color);
  border-color: rgba(0, 0, 0, 0.1);
  color: white;
}

nav a[selected]:hover {
  color: white;
}

nav a[selected] svg {
  fill: white;
}

nav a[selected]::after {
  content: "";
  border: 12px solid transparent;
  border-right-color: var(--light-color);
  position: absolute;
  right: 0px;
  transform: translateX(1px);
}

@media only screen and (max-width: 800px) {

  nav {
    width: 52px;
  }

  nav a {
    padding: 16px;
    justify-content: center;
  }

  nav a p {
    display: none;
  }

  nav a svg {
    margin: 0px;
    width: 20px;
    max-width: 24px;
  }

}


@media only screen and (max-width: 500px) {
  
  nav {
    width: auto;
    position: sticky;
    bottom: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0px;
    border-right: none;
    border-bottom: 1px solid #bbb;
  }

  nav a {
  }
  
  nav a svg {
    width: 100%; 
    max-width: 20px;
    min-width: 10px;
  }

  nav a[selected]::after {
    right: auto;
    bottom: 0px;
    transform: translateY(1px);
    border-right-color: transparent;
    border-bottom-color: var(--light-color);
  }

}
