@import 'monitor.css';
@import 'page.css';

.section[name='graph'] {
	display: flex;
  flex: 2;
}

#puzzles-menu {
	display: flex;
	position: absolute;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.15);
	border-radius: 4px;
  margin: 10px;
	padding: 5px;
}

#puzzles-menu.selectable:hover {
	background: rgba(0,0,0,0.3);
}

#puzzles-chronometer {
  position: relative;
  flex: 1;
  width: 100%;
  font-size: 32pt;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
}

puzzles-graph {
	display: block;
	background: none;
	padding-top: 70px;
	flex: 1;
}

puzzle-info {
	display: flex;
	flex-flow: row;
}

.screen[name='info']:not([hidden]) {
	display: block;
	padding: 16px;
}

#puzzle-name {
	float: left;
}

#puzzle-state {
	font-size: 12px;
	float: right;
	color: #a0a0a0;
}

#puzzle-description {
	clear: both;
}

#puzzle-controls {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 16px 0;
}

.puzzle-control {
	flex: 1;
	margin: 0 5px;
	min-width: 100px;
}

.condition-item {
	display: flex;
	flex-flow: row;
  margin: 5px 0px;
  padding: 0px 0px 0px 6px;
  border-style: solid;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 4px;
  border-color: lightgray;
}

.condition-item div {
	flex: 1;
  padding: 6px;
  margin: 2px 0px; 
}

.action-item {
	display: flex;
	flex-flow: row;
  margin: 5px 0px;
  padding: 0px 0px 0px 6px;
  border-style: solid;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 4px;
  border-color: lightgray;
}

.action-item div {
	flex: 1;
  padding: 6px;
  margin: 2px 0px; 
}

#state-transitions > div {
  display: flex;
  flex-direction: column;
  padding: 8px;
  border: 1px solid #00000040;
  cursor: pointer;
  background: #eee;
  transition: background 0.2s ease;
  border-radius: 4px;
  margin: 4px 0px;
}

#state-transitions > div:hover {
  background: #a9d7d8;
}

#state-transitions > div > span {

}

#state-transitions > div > span:first-child {
  font-weight: bold;
  text-align: left;
}

#state-transitions > div > span:last-child {
  font-size: x-small;
  font-style: italic;
  text-align: right;
  opacity: 0.6;
}

svg .item {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.1s;
}

svg .item text.label {
  fill: #eeeeee;
  font: normal 10px sans-serif;
}

svg .item circle {
  fill: #eeeeee;
  stroke: #eeeeee;
  stroke-width: 4px;
}

svg .item rect {
  stroke: #eeeeee;
  fill: none;
  stroke-width: 4px;
}

svg .item:hover {
  opacity: 0.8;
}

svg .item[active] {
  opacity: 1;
}

svg .item[active] circle {
  fill: #5BDA0A;
  stroke: #5BDA0A;
}

svg .item[active] rect {
  stroke: #5BDA0A;
}

svg .item[selected] {
  opacity: 1;
}

svg .item[selected] circle {
  stroke: #f5b971;
}

svg .item[selected] rect {
  stroke: #f5b971;
}

@media only screen and (max-width: 800px) {

  .screen[name='graph'] {
    flex-flow: column;
  }

  puzzle-info.scroll-y {
    overflow-y: hidden;
  }

  #puzzles-menu {
    display: none;
  }

}
