@import 'monitor.css';
@import 'page.css';

.section[name='graph'] {
	display: flex;
}

#puzzles-menu {
	display: flex;
	position: absolute;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.15);
	border-radius: 4px;
    margin: 10px;
	padding: 5px;
}

#puzzles-menu.selectable:hover {
	background: rgba(0,0,0,0.3);
}

#puzzles-chronometer {
	position: relative;
	flex: 1;
	width: 100%;
    font-size: 32pt;
	font-weight: normal;
    text-align: center;
    cursor: pointer;
}

puzzles-graph {
	display: block;
	background: none;
	padding-top: 70px;
	flex: 1;
}

puzzle-info {
	display: flex;
	flex-flow: row;
}

.screen[name='info']:not([hidden]) {
	display: block;
	padding: 16px;
}

#puzzle-name {
	float: left;
}

#puzzle-state {
	font-size: 12px;
	float: right;
	color: #a0a0a0;
}

#puzzle-description {
	clear: both;
}

#puzzle-controls {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 16px 0;
}

.puzzle-control {
	flex: 1;
	margin: 0 5px;
	min-width: 100px;
}

.condition-item {
	display: flex;
	flex-flow: row;
}

.condition-item div {
	flex: 1;
}

.action-item {
	display: flex;
	flex-flow: row;
}

.action-item div {
	flex: 1;
}
