<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Receiver</title>
  </head>
  <body> 
	  <script>
		  pc = new RTCPeerConnection();
		  pc.ontrack = handleTrackEvent;
		  pc.onnegotiationneeded = handleNegotiationNeededEvent; 

		  function start() {
			  pc.addTransceiver('video');
			  //pc.addTransceiver('video', {direction: 'recvonly'});
		  }

		  function handleNegotiationNeededEvent(event) {
			  pc.createOffer()
				  .then(function(offer) {
					  console.log('offer created');
					  return pc.setLocalDescription(offer);
				  }).then(function() {
					  // wait for ICE gathering to complete
					  return new Promise(function(resolve) {
						  if (pc.iceGatheringState === 'complete') {
							  resolve();
						  } else {
							  function checkState() {
								  if (pc.iceGatheringState === 'complete') {
									  pc.removeEventListener('icegatheringstatechange', checkState);
									  resolve();
								  }
							  }
							  pc.addEventListener('icegatheringstatechange', checkState);
						  }
					  });
				  }).then(function() {
					  var offer = pc.localDescription;
					  return fetch('/time/camera', {
						  body: JSON.stringify({
							  sdp: offer.sdp,
							  type: offer.type,
						  }),
						  headers: {
							  'Content-Type': 'application/json'
						  },
						  method: 'POST'
					  });
				  }).then(function(response) {
					  console.log(response)
					  return response.json();
				  }).then(function(answer) {
					  return pc.setRemoteDescription(answer);
				  }).catch(function(e) {
					  alert(e);
				  });
			  }

		  function handleNewIceCandidate(msg) {
			  var candidate = new RTCIceCandidate(msg.candidate);
			  pc.addIceCandidate(candidate)
				  .catch(console.error);
			  console.log('new ICE candidate msg')
		  }

		  function handleTrackEvent(event) {
			  document.getElementById('remote_video').srcObject = event.streams[0];
			  console.log('got track');
		  }

	  </script>
		<button onclick="start()">start</button>
		<video autoplay id="remote_video" height="100"></video>
  </body>
</html>
