@font-face{
	font-family: 'time-dial-font';
	src: url('/ressources/digital_counter_7.ttf');
}

.timer .content {
  display: flex;
  justify-content: center;
}

.timer .content div {
  display: flex;
  align-items: center;
}

.timer .content .time {
  padding-left: 38px;
  font-family: 'time-dial-font';
  font-size: xxx-large;
}

.timer .content .controls {
  display: flex;
  flex-flow: column;
  margin: 0px 8px;
}

.timer .content .controls svg {
  margin: 1px 0px;
  fill: transparent;
  cursor: pointer;
  width: 18px;
  border-radius: 50px;
}

.timer .content:hover .controls svg {
  fill: #aaa;
}

.timer .content .controls svg:hover {
  fill: var(--active-color);
}

.timer .content .controls svg:active {
  background: var(--active-color);
  fill: white;
}
